<a href="https://colab.research.google.com/github/SupriyaSingh1997/Python_Basics_Assignment/blob/main/Programming_Assignment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1
def sum_of_elements(lst):
    return sum(lst)

# Example usage
my_list = [1, 2, 3, 4, 5]
result = sum_of_elements(my_list)
print(result)  # Output: 15

15

In [2]:
#2
def multiply_numbers(lst):
    result = 1
    for num in lst:
        result *= num
    return result

# Example usage
my_list = [2, 3, 4]
result = multiply_numbers(my_list)
print(result)  # Output: 24

24

In [3]:
#3
def find_smallest_number(lst):
    return min(lst)

# Example usage
my_list = [5, 3, 9, 1, 7]
result = find_smallest_number(my_list)
print(result)  # Output: 1

1

In [4]:
#4
def find_largest_number(lst):
    return max(lst)

# Example usage
my_list = [5, 3, 9, 1, 7]
result = find_largest_number(my_list)
print(result)  # Output: 9

9

In [5]:
#5
def find_second_largest_number(lst):
    sorted_list = sorted(lst, reverse=True)
    return sorted_list[1]

# Example usage
my_list = [5, 3, 9, 1, 7]
result = find_second_largest_number(my_list)
print(result)  # Output: 7

7

In [6]:
#6
import heapq

def find_n_largest_elements(lst, n):
    return heapq.nlargest(n, lst)

# Example usage
my_list = [5, 3, 9, 1, 7]
result = find_n_largest_elements(my_list, 3)
print(result)  # Output: [9, 7, 5]

[9, 7, 5]

In [7]:
#7
def print_even_numbers(lst):
    for num in lst:
        if num % 2 == 0:
            print(num)

# Example usage
my_list = [1, 2, 3, 4, 5, 6]
print_even_numbers(my_list)
# Output: 2, 4, 6 (each number on a separate line)

2
4
6

In [8]:
#8
def print_odd_numbers(lst):
    for num in lst:
        if num % 2 != 0:
            print(num)

# Example usage
my_list = [1, 2, 3, 4, 5, 6]
print_odd_numbers(my_list)
# Output: 1, 3, 5 (each number on a separate line)

1
3
5

In [9]:
#9
def remove_empty_lists(lst):
    return [sublist for sublist in lst if sublist]

# Example usage
my_list = [1, [], [2, 3], [], 4, [], [5, 6]]
result = remove_empty_lists(my_list)
print(result)  # Output: [1, [2, 3], 4, [5, 6]]

[1, [2, 3], 4, [5, 6]]

In [10]:
#10
def clone_list(lst):
    return lst[:]

# Example usage
my_list = [1, 2, 3]
clone = clone_list(my_list)
print(clone)  # Output: [1, 2, 3]

[1, 2, 3]

In [11]:
#11
def count_occurrences(lst, element):
    return lst.count(element)

# Example usage
my_list = [1, 2, 3, 1, 4, 1]
result = count_occurrences(my_list, 1)
print(result)  # Output: 3

3